
<section class="section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-12  mx-auto w-100">

                <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-2" style="max-height:420px !important;overflow-y: scroll;font-size:12px">
                    <h6 class="border m-0 p-2 bg-light ">Mis Solicitudes de crédito</h6>
                    <div class="p-2 border">

                        <table id="tb_solicitudes" class="display w-100">
                            <thead>
                                <tr>  
                                    <th>Id Solicitud</th>
                                    <th>Fecha solicitud</th>
                                    <th>Plazo deseado</th>
                                    <th>N. Cuotas</th>
                                    <th>Monto solicitado</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div id="panel_solicitudes_detalle" class="custom-block custom-block-topics-listing bg-white shadow-lg mb-2" style="display:none;max-height:420px !important;overflow-y: scroll;font-size:12px">
                    <h6 class="border m-0 p-2 bg-light " style="font-size:17px;font-weight:bold">Detalle de la solicitud</h6>
                    <div class="p-2 border">

                        <table id="tb_solicitudes_detalle" class="display w-100">
                            <thead>
                                <tr>
                                    <th>N. cuota</th>
                                    <th>F. vencimiento</th>
                                    <th>Saldo inicial</th>
                                    <th>Capital</th>
                                    <th>Interes</th>
                                    <th>Seguro</th>
                                    <th>Comisión</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>                                    
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/js/solicitudUser.js"></script>
}